@media (min-width: 1250px) {
  .container {
    height: 97vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 7px 7px;
    padding: 7px;
    grid-auto-flow: row;
    grid-template-areas:
      "About ActiveVisitors Referrer HoursOfActivityPerDay HoursOfActivityPerDay"
      "VisitsByCountry AvgVisitDuration Referrer HoursOfActivityPerDay HoursOfActivityPerDay"
      "VisitsByCountry NewVsReturn NewVsReturn HoursOfActivityPerDay HoursOfActivityPerDay"
      "Devices NewVsReturn NewVsReturn TopPages TopPages"
      "Devices NewVsReturn NewVsReturn TopPages TopPages";
  }
  
  .About { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: About; 
  }
  
  .About p {
    font-size: x-small;
  }

  .ActiveVisitors { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: ActiveVisitors; 
  }
  
  .AvgVisitDuration { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: AvgVisitDuration; 
  }
  
  .VisitsByCountry { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: VisitsByCountry; 
  }
  
  .Devices { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: Devices; 
  }
  
  .TopPages { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: TopPages; 
  }
  
  .HoursOfActivityPerDay { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: HoursOfActivityPerDay; 
  }
  
  .NewVsReturn { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: NewVsReturn; 
  }
  
  .Referrer { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: Referrer; 
  }  
}

@media (500px <= width < 1250px) {
  .container { 
    padding: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 7px 7px;
    grid-auto-flow: row;
    grid-template-areas:
      "About About"
      "ActiveVisitors AvgVisitDuration"
      "Devices VisitsByCountry"
      "Referrer Referrer"
      "TopPages TopPages"
      "NewVsReturn NewVsReturn"
      "HoursOfActivityPerDay HoursOfActivityPerDay";
  }
  
  .About { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: About; 
  }
  
  .ActiveVisitors { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: ActiveVisitors; 
  }
  
  .AvgVisitDuration { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: AvgVisitDuration; 
  }
  
  .VisitsByCountry { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: VisitsByCountry; 
  }
  
  .Devices { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: Devices; 
  }
  
  .TopPages { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: TopPages; 
  }
  
  .HoursOfActivityPerDay { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: HoursOfActivityPerDay; 
  }
  
  .NewVsReturn { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: NewVsReturn; 
  }
  
  .Referrer { 
    padding: 0.5em;
    border: solid;
    text-align: center;
    grid-area: Referrer; 
  }  
}

.About { 
  padding: 0.5em;
  border: solid;
  text-align: center;
}

.ActiveVisitors { 
  padding: 0.5em;
  border: solid;
  text-align: center;
}

.AvgVisitDuration { 
  padding: 0.5em;
  border: solid;
  text-align: center;
}

.VisitsByCountry { 
  padding: 0.5em;
  border: solid;
  text-align: center;
}

.Devices { 
  padding: 0.5em;
  border: solid;
  text-align: center;
}

.TopPages { 
  padding: 0.5em;
  border: solid;
  text-align: center;
}

.HoursOfActivityPerDay { 
  padding: 0.5em;
  border: solid;
  text-align: center;
}

.NewVsReturn { 
  padding: 0.5em;
  border: solid;
  text-align: center;
}

.Referrer { 
  padding: 0.5em;
  border: solid;
  text-align: center;
} 