@media (min-width: 900px) {
  .container {
    padding: 7px;
    height: 97vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
  }
  
  .About {
    padding: 0.5em;
    grid-area: 1 / 1 / 2 / 2;
    border: solid;
    text-align: center;
  }

  .About p {
    font-size: x-small;
  }
  
  .ActiveVisitors {
    grid-area: 1 / 2 / 2 / 3; 
    text-align: center;
    padding: 0.5em;
    border: solid;
  }
  
  .AvgVisitDuration {
    grid-area: 2 / 2 / 3 / 3; 
    text-align: center;
    padding: 0.5em;
    border: solid;
  }
  
  .Devices {
    grid-area: 4 / 1 / 6 / 2;
    padding: 0.5em;
    border: solid;
  }
  
  
  .VisitsByCountry {
    grid-area: 2 / 1 / 4 / 2;
    padding: 0.5em;
    border: solid;
  }
  
  .TopPages { 
    grid-area: 4 / 4 / 6 / 6;
    padding: 0.5em;
    border: solid;
  }
  
  .HoursOfActivityPerDay {
    grid-area: 3 / 2 / 6 / 4;
    padding: 0.5em;
    border: solid;
  }
  
  .NewVsReturn {
    grid-area: 1 / 4 / 4 / 6; 
    padding: 0.5em;
    border: solid;
  }

  .Referrer {
    grid-area: 1 / 3 / 3 / 4;
    padding: 0.5em;
    border: solid;
  }
}

@media (max-width: 900px) {
  .About {
    padding: 0.5em;
    margin: 8px;
    border: solid;
    text-align: center;
  }
  
  .ActiveVisitors { 
    margin: 8px;
    text-align: center;
    padding: 0.5em;
    border: solid;
  }
  
  .AvgVisitDuration { 
    margin: 8px;
    text-align: center;
    padding: 0.5em;
    border: solid;
  }
  
  .Devices {
    margin: 8px;
    padding: 0.5em;
    border: solid;
  }
  
  
  .VisitsByCountry {
    margin: 8px;
    padding: 0.5em;
    border: solid;
  }
  
  .TopPages { 
    margin: 8px;
    padding: 0.5em;
    border: solid;
  }
  
  .HoursOfActivityPerDay { 
    margin: 8px;
    padding: 0.5em;
    border: solid;
  }
  
  .NewVsReturn {
    margin: 8px;
    padding: 0.5em;
    border: solid;
  }
}