.container {  display: grid;
  grid-template-columns: 0.9fr 0.9fr 1.2fr 0.9fr 1.1fr 1fr;
  grid-template-rows: 1fr 0.9fr 1.1fr;
  gap: 0.5em 0.5em;
  height: 97vh;
  padding: 8px;
  grid-auto-flow: row;
  grid-template-areas:
    "ActiveVisitors AvgVisitDuration HoursOfActivityPerDay HoursOfActivityPerDay NewVsReturn NewVsReturn"
    "TopPages TopPages HoursOfActivityPerDay HoursOfActivityPerDay NewVsReturn NewVsReturn"
    "Devices Devices Footer Footer VisitsByCountry VisitsByCountry";
}

.Footer {
  padding: 0.5em;
  grid-area: Footer;
  border: solid;
  text-align: center;
}

.ActiveVisitors { 
  text-align: center;
  padding: 0.5em;
  grid-area: ActiveVisitors;
  border: solid;
}

.AvgVisitDuration { 
  text-align: center;
  padding: 0.5em;
  border: solid;
  grid-area: AvgVisitDuration; 
}

.Devices {
  padding: 0.5em;
  grid-area: Devices; 
  border: solid;
}


.VisitsByCountry {
  padding: 0.5em;
  border: solid;
  grid-area: VisitsByCountry; 
}

.TopPages { 
  padding: 0.5em;
  grid-area: TopPages; 
  border: solid;
}

.HoursOfActivityPerDay { 
  padding: 0.5em;
  border: solid;
  grid-area: HoursOfActivityPerDay; 
}

.NewVsReturn {
  padding: 0.5em;
  border: solid;
  grid-area: NewVsReturn; 
}
